PORT=8000
MONGO_URI=mongodb://localhost:27017/inventory
ACCESS_SECRET=your-super-secret-key-here-min-64-characters
SUPER_FIRST_NAME=Admin
SUPER_LAST_NAME=User
SUPER_EMAIL=admin@example.com
SUPER_PASS=change-me-secure-password
